<% cart_total = 0 %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Unity Price</th>
      <th>Quantity</th>
      <th>Total Price:</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.each do |product| %>
        <tr>
            <th><%= product['name'] %></th>
            <th> $ <%= product['price'] %></th>
            <th><%= product['quant'] %></th>
            <th> $ <%= product['total'] %></th>
        </tr>

        <% cart_total += product['total'] %>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th><%=
        link_to(
            'Update Cart',
            update_path
        )
      %></th>
      <th></th>
      <th></th>
      <th> $ <%= cart_total %></th>
    </tr>
    <tr>
      <th><%=
        link_to(
            'Empty cart',
            empty_path
        )
      %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>
