<form id="update_cart" action="/update" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Name:</th>
            <th>Unity Price</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tbody>
        <% @cart.each do |product| %>
            <tr>
                <input hidden="true" name=<%= "products[#{product['id']}]['id']" %> value=<%= product['id'] %> />
                <th><%= product['name'] %></th>
                <th> <%= number_to_currency(product['price']) %></th>
                <th class="field">
                    <div class="control">
                        <input name=<%= "products[#{product['id']}]['quant']" %> type="number" value=<%= product['quant'] %> />
                    </div>
                </th>
            </tr>
        <% end %>
    </tbody>

    <tfoot>
        <tr>
            <th>
                <a href="#" onclick="document.getElementById('update_cart').submit()">
                    Update Cart
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    </table>
</form>
